* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Overpass', sans-serif;
}

.header {
    height: 100vh;
    background: url(../img/background.jpg) no-repeat top / cover;
}

.header h1 {
    color: aliceblue;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-size: 72px;
    padding-right: 40px;
    width: 1000px;
    padding-top: 200px;
    float: right;
    text-align: right;
}

.section {
    height: 100vh;
    background: #000000;
}

.section h2 {
    color: aliceblue;
    font-size: 72px;
    text-align: center;
    padding: 50px;
}

.menu {
    display: flex;
}

.block-menu {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 10px;
    background: #7f097b;
    margin: 20px;
    width: 500px;
    height: 200px;
    padding: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.block-menu p {
    color: aliceblue;
    text-align: center;
    font-size: 48px;
}

.block-menu:hover {
    background: #1c0a95;
}

.footer {
    height: 50vh;
    background: #000000;
}