* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Overpass', sans-serif;
}

@font-face {
    font-family: 'Overpass', sans-serif;
    src: url(/fonts/Overpass-Regular.ttf);
}

.header {
    height: 100vh;
    background: url(../img/background.jpg) no-repeat top / cover;
}

.scroll {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    bottom: 350px;
    right: 200px;
    display: inline-block;
    position: absolute;
    padding:10px 15px;
    font-size:30px;
    background:#c04dbc;
    border-radius:15px;
    transition: all 0.3s ease;
    color: aliceblue;
}

.scroll:hover {
    background-color: #1c0a95;
}

.header h1 {
    color: aliceblue;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-size: 72px;
    padding-right: 40px;
    width: 1000px;
    padding-top: 200px;
    float: right;
    text-align: right;
}

.section {
    height: 100vh;
    background: #000000;
}

.section h2 {
    color: aliceblue;
    font-size: 72px;
    text-align: center;
    padding: 50px;
}

.menu {
    display: flex;
}

.block-menu {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 10px;
    background: #7f097b;
    margin: 20px;
    width: 500px;
    height: 200px;
    padding: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.block-menu p {
    color: aliceblue;
    text-align: center;
    font-size: 48px;
}

.block-menu:hover {
    background: #1c0a95;
}

.footer {
    height: 50vh;
    background: #000000;
}

@media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: black;
        font-family: 'Overpass', sans-serif;
    }
    
    .scroll{
        display: none;
    }
    
    @font-face {
        font-family: 'Overpass', sans-serif;
        src: url(/fonts/Overpass-Regular.ttf);
    }
    
    .header {
        height: 300px;
        width: 100%;
        background: url(../img/background.jpg) no-repeat top / cover;
    }
    
    .header h1 {
        color: aliceblue;
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        font-size: 30px;
        padding-right: 40px;
        width: 200px;
        padding-top: 100px;
        float: left;
        text-align: left;
    }
    
    .section {
        height: 500px;
        width: 100px;
        background: black;
    }
    
    .section h2 {
        width: 300px;
        height: max-content;
        color: aliceblue;
        font-size: 20px;
        text-align: left;
        padding: 10px;
    }
    
    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .block-menu {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #7f097b;
        margin: 20px;
        width: 270px;
        height: 10px;
        padding: 40px;
        cursor: pointer;
        transition: all 0.3s ease;
        flex-direction: column;
    }
    
    .block-menu p {
        color: aliceblue;
        text-align: center;
        font-size: 20px;
    }
    
    .block-menu:hover {
        background: #1c0a95;
    }
    
    .footer {
        width: 100%;
        background: black;
    }
}