/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    /* background-color: aliceblue; */
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #d5d5d5;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
} 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Overpass', sans-serif;
}

.tabu {
    white-space: pre-wrap;
}

@font-face {
    font-family: 'Overpass', sans-serif;
    src: url(/fonts/Overpass-Regular.ttf);
}

.header {
    height: 100vh;
    background: url(../img/background.jpg) no-repeat top / cover;
}

.header h1 {
    color: aliceblue;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-size: 72px;
    padding-right: 40px;
    width: 1000px;
    padding-top: 200px;
    float: right;
    text-align: right;
}

section {
    height: 300vh;
    /* height: max-content; */
    background: white;
}

.section h2 {
    color: #000000;
    font-size: 72px;
    text-align: center;
    padding: 50px;
}

.section h3 {
    font-size: 80px;
    margin-top: 50px;
}

.menu {
    display: flex;
}

.menu-block {
    text-decoration: none;
    background: #000000;
    flex-grow: 1;
    margin: 20px;
    color: aliceblue;
    font-size: 18px;
    border-radius: 10px;
    padding: 30px;
    transition: all 0.3s ease; 
}

.menu-block:hover {
    background: aliceblue;
    color: #000000;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.footer {
    height: 20vh;
    background: #000000;
    position: absolute;
    left: 0;
    width: 100% ;
}

@media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Overpass', sans-serif;
    }
    
    .tabu {
        white-space: pre-wrap;
    }
    
    @font-face {
        font-family: 'Overpass', sans-serif;
        src: url(/fonts/Overpass-Regular.ttf);
    }
    
    .header {
        height: 300px;
        width: 100%;
        background: url(../img/background.jpg) no-repeat top / cover;
    }
    
    .header h1 {
        color: aliceblue;
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        font-size: 30px;
        width: 300px;
        padding-top: 100px;
        float: left;
        text-align: left;
    }
    
    section {
        height: max-content;
        width: 100%;
        background: white;
    }
    
    .section h2 {
        width: 100%;
        color: #000000;
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }
    
    .section h3 {
        font-size: 25px;
    }
    
    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .menu-block {
        width: 290px;
        text-decoration: none;
        background: #000000;
        margin: 20px;
        color: aliceblue;
        font-size: 15px;
        border-radius: 10px;
        padding: 30px;
        transition: all 0.3s ease; 
    }
    
    .menu-block:hover {
        background: aliceblue;
        color: #000000;
    }
    
    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    
    .footer {
        height: 10vh;
        background: #000000;
        position: absolute;
        left: 0;
        width: 100% ;
    }
}