html {
    scroll-behavior: smooth;
}

/* .topNubex {
    display: none;
	position: fixed;
	right: 45px;
	bottom: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding:20px 20px;
    font-size:20px;
    background:#c04dbc;
    border-radius:15px;
    transition: all 0.3s ease;
    color: aliceblue;
} */

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    background-color: #fff;
    /* добавляем цвет фона квадрата */
    border-radius: 4px;
    /* добавляем скругление углов */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    /* добавляем тень */
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    /* background-color: aliceblue; */
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

/* добавляем квадрат */
.menu__btn::before {
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    background-color: #bdbdbd;
    /* добавляем цвет фона квадрата */
    z-index: -1;
    border-radius: 4px;
    /* добавляем скругление углов */
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: rgba(213, 213, 213, 0.9);
    /* изменяем цвет фона меню и добавляем прозрачность */
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    /* показываем меню */
    transition: all 0.3s ease-in-out;
    /* добавляем плавность анимации */
    left: 0;
    /* сдвигаем меню на видимую область */
}

@media (min-width: 768px) {

    /* меню скрывается на больших экранах */
    .menu__box {
        display: none;
    }

    #menu__toggle:checked~.menu__box {
        display: block;
    }
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    float: left !important;
}

.next {
    background-color: #7f097b;
    color: white;
    float: right !important;
}

.round {
    border-radius: 50%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Overpass', sans-serif;
}

.tabu {
    white-space: pre-wrap;
}

@font-face {
    font-family: 'Overpass', sans-serif;
    src: url(/fonts/Overpass-Regular.ttf);
}

.header {
    height: 100vh;
    background: url(../img/background.jpg) no-repeat top / cover;
}

.header h1 {
    color: aliceblue;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-size: 72px;
    padding-right: 40px;
    width: 1000px;
    padding-top: 200px;
    float: right;
    text-align: right;
}

section {
    height: 300vh;
    /* height: max-content; */
    background: white;
}

.section h2 {
    color: #000000;
    font-size: 72px;
    text-align: center;
    padding: 50px;
}

.section h3 {
    font-size: 80px;
    margin-top: 50px;
}

.menu {
    display: flex;
}

.menu-block {
    text-decoration: none;
    background: #000000;
    flex-grow: 1;
    margin: 20px;
    color: aliceblue;
    font-size: 18px;
    border-radius: 10px;
    padding: 30px;
    transition: all 0.3s ease;
}

.menu-block:hover {
    background: aliceblue;
    color: #000000;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.footer {
    height: 20vh;
    background: #000000;
    position: absolute;
    left: 0;
    width: 100%;
}

/* @media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Overpass', sans-serif;
    }
    
    .tabu {
        white-space: pre-wrap;
    }
    
    @font-face {
        font-family: 'Overpass', sans-serif;
        src: url(/fonts/Overpass-Regular.ttf);
    }
    
    .header {
        height: 300px;
        width: 100%;
        background: url(../img/background.jpg) no-repeat top / cover;
    }
    
    .header h1 {
        color: aliceblue;
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        font-size: 30px;
        width: 300px;
        padding-top: 100px;
        float: left;
        text-align: left;
    }
    
    section {
        height: max-content;
        width: 100%;
        background: white;
    }
    
    .section h2 {
        width: 100%;
        color: #000000;
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }
    
    .section h3 {
        font-size: 25px;
    }
    
    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .menu-block {
        width: 290px;
        text-decoration: none;
        background: #000000;
        margin: 20px;
        color: aliceblue;
        font-size: 15px;
        border-radius: 10px;
        padding: 30px;
        transition: all 0.3s ease; 
    }
    
    .menu-block:hover {
        background: aliceblue;
        color: #000000;
    }
    
    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    
    .footer {
        height: 10vh;
        background: #000000;
        position: absolute;
        left: 0;
        width: 100% ;
    }
} */

@media (max-width: 768px) {
    .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
    }

    a {
        font-size: 14px;
        padding: 5px 10px;
    }

    .previous,
    .next {
        font-size: 12px;
    }

    .round {
        border-radius: 5px;
    }

    .header {
        height: 50vh;
        background-size: cover;
    }

    .header h1 {
        font-size: 36px;
        padding-top: 100px;
        width: auto;
        text-align: center;
        float: none;
    }

    .section {
        height: 100vh;
    }

    .section h2 {
        font-size: 36px;
        padding: 20px;
    }

    .section h3 {
        font-size: 50px;
        /* уменьшить размер шрифта */
        margin-top: 25px;
        /* уменьшить отступ сверху */
        text-align: center;
        /* выровнять по центру */
        overflow-wrap: break-word;
        /* разрешить перенос слов */
    }

    .menu {
        flex-direction: column;
    }

    .menu-block {
        font-size: 16px;
        padding: 20px;
        margin: 10px;
    }

    .center-img {
        width: 80%;
    }

    .footer {
        height: auto;
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    a {
        padding: 6px 12px;
    }

    .previous,
    .next {
        padding: 10px 14px;
    }

    .previous {
        font-size: 14px;
    }

    .next {
        font-size: 16px;
    }

    .round {
        border-radius: 30%;
    }

    .header h1 {
        font-size: 48px;
        width: 100%;
        padding-right: 0;
        text-align: center;
        padding-top: 100px;
    }

    .section h2 {
        font-size: 48px;
    }

    .section h3 {
        font-size: 56px;
    }

    .menu-block {
        font-size: 16px;
        padding: 20px;
        margin: 10px;
    }

    .center-img {
        max-width: 80%;
    }

    /* .footer {
        height: 10vh;
    } */

    .footer {
        height: auto;
        position: relative;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

    /* CSS правила для устройств с разрешением от 1024px до 1440px */

    .header h1 {
        font-size: 48px;
        width: 80%;
        padding-top: 100px;
    }

    .section h2 {
        font-size: 48px;
        padding: 20px;
    }

    .section h3 {
        font-size: 60px;
        margin-top: 30px;
    }

    .menu-block {
        font-size: 16px;
        padding: 20px;
    }

}